{{template "base" .}}

{{define "title"}}Link Details{{end}}

{{define "body"}}
<div class='details'>
    {{with .Link}}
        <section>
            <table>
                <tr>
                    <th>URL</th>
                    <td></td>
                    <td>{{.PageURL}}</td>
                </tr>
                <tr>
                    <th>HTML Version</th>
                    <td></td>
                    <td>{{.HTMLVersion}}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td></td>
                    <td>{{.Title}}</td>
                </tr>
                <tr>
                    <th>Heading Levels</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th></th>
                    <th>H1</th>
                    <td>{{.Headings.HOne}}</td>
                </tr>
                <tr>
                    <th></th>
                    <th>H2</th>
                    <td>{{.Headings.HTwo}}</td>
                </tr>
                <tr>
                    <th></th>
                    <th>H3</th>
                    <td>{{.Headings.HThree}}</td>
                </tr>
                <tr>
                    <th></th>
                    <th>H4</th>
                    <td>{{.Headings.HFour}}</td>
                </tr>
                <tr>
                    <th></th>
                    <th>H5</th>
                    <td>{{.Headings.HFive}}</td>
                </tr>
                <tr>
                    <th></th>
                    <th>H6</th>
                    <td>{{.Headings.HSix}}</td>
                </tr>
                <tr>
                    <th>Links</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th></th>
                    <th>Internal</th>
                    <td>{{.Links.Internal}}</td>
                </tr>
                <tr>
                    <th></th>
                    <th>External</th>
                    <td>{{.Links.External}}</td>
                </tr>
                <tr>
                    <th></th>
                    <th>Inaccessible</th>
                    <td>{{.Links.InAccessible}}</td>
                </tr>
                <tr>
                    <th>Page Has Login Form</th>
                    <td></td>
                    <td>{{.HasLoginForm}}</td>
                </tr>
            </table>
        </section>
    {{end}}
</div>
{{end}}