{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "body"}}
<form class="form-container" action='/details' method='POST'>
    {{with .Form}}
    <div>
        {{with .Errors.Get "link"}}
            <label class='error'>{{.}}</label>
        {{end}}
        <input type='text' name='link' value='{{.Get "link"}}' placeholder="Enter a webpage link">
        <button type='submit'>Find Details</button>
    </div>
    {{end}}
</form>
{{end}}
