*, *::after, *::before {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #fff;
    font-family: Roboto, sans-serif;
    text-align: center;
    margin: 0;
}

a {
    text-decoration: none;
}

/* BASE */
header {
    padding: 1.5rem;
}

h1 {
    margin: 0;
}

.main-container {
    height: 80%;
    display: flex;
}

.form-container {
    width: 50%;
    margin: auto auto;
}

.form-container > div {
    display: flex;
}

.form-container input {
    flex: 1 1 auto;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 10px;
}

.form-container button {
    margin-inline-start: 1rem;
    padding: 1rem;
    width: 15%;
    font-size: 1rem;
    border-radius: 10px;
}

/* DETAILS */

.details {
    margin: 1.5rem auto;
    width: 50%;
    text-align: left;
}

.details table {
    width: 75%;
    margin: auto;
}

td, th {
    border-bottom: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

table tr > th:nth-child(1) {
    width: 30%;
}

table tr:nth-child(1) th, table tr:nth-child(1) td {
    border-top: 1px solid #000000;
}

table tr > th:nth-child(2) {
    width: 20%;
}